* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.Header-container img {
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid #ddd;
  border-radius: 50px;
  padding: 5px;
  width: 25%;
  height: 25%;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #e3e5e9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #003366;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

.Des ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.Des ul li {
    display: inline;
    margin-right: 20px;
}

.Des ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 1.5s ease;
}

.Des ul li a:hover {
    color: #ffd700;
}

.SDes ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.SDes ul li {
	float: left;
    clear: left;
    display: inline;
	margin-left: 0px;
    margin-right: 150px;
}

.SDes ul li a {
    text-decoration: none;
    color: #003366;
    font-size: 24px;
    transition: color 1.5s ease;
}

.SDes ul li img {
	border: 1px solid #003366;
	border-radius: 10px;
	padding: 5px;
	width: 100%;
	height: 100%;
}

.SDes ul li a:hover {
    color: #ffd700;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 100px;
}

footer {
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    clear: both;
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #003366;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

li strong {
    color: #003366;
}

footer {
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    width: 100%;
}

footer p {
    margin: 0;
}

.PG {
	text-align: center;
	clear: left;
}

.image-container {
	clear: left;
    position: relative;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    display: block;
    border: 1px solid #003366;
	border-radius: 50px;
	padding: 5px;
    transition: transform 1.5s ease;
}

.image-container img:hover {
    transform: scale(3);
}

.image-container p {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: #003366;
    color: #fff;
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 14px;
}
